<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Intro_MongooseMongoDB</title>
</head>
<body>
    <h1>Animals!</h1>
    <div>
        <% for (let animal of animals){ %>
            <p>Name: <a href="/animals/<%= animal._id %>"><%= animal.name %></a></p>
            <p>Species: <a href="/animals/<%= animal._id %>"><%= animal.species %></a></p>
            <p>EatPeople:<a href="/animals/<%= animal._id %>"> <%= animal.eatsPeople %></a></p>
            <p>Number of Legs:<a href="/animals/<%= animal._id %>"> <%= animal.numberOfLegs %></a></p>
            <hr>
        <% } %>
    </div>
</body>
</html>