<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Animal</title>
</head>
<body>
    <h1>Show Animal</h1>
    <div>
        <p><%= animal.id %></p>
        <p><%= animal.name %></p>
        <p><%= animal.species %></p>
        <p><%= animal.numberOfLegs %></p>
        <p><%= animal.eatsPeople %></p>
    </div>
</body>
</html>